.avatar40 {
  width: 40px !important;
  height: 40px !important;
}

.avatar64 {
  width: 64px !important;
  height: 64px !important;
}

.avatar80 {
  width: 80px !important;
  height: 80px !important;
}